# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Platform build artifacts
ios/Pods/
android/.gradle/
android/local.properties
windows/flutter/ephemeral/
linux/flutter/ephemeral/
